@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


 
<button><a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Criar">Criar</a></button>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Depositar">Depositar</a></button>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Sacar">Sacar</a></button>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Conta" asp-action="Tranferir">Tranferir</a></button> 