@using Teste.ViewModel;
@model CriarContaViewModel

@{
    ViewData["Title"] = "Criar Conta";
}

<h2>Criar Conta</h2>

<form asp-action="Criar" method="post">

    <div class="form-group">
        <label asp-for="Responsavel" class="control-label"></label>
        <input asp-for="Responsavel" class="form-control" />
        <span asp-validation-for="Responsavel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
