@using Teste.ViewModel
@model SacarViewModel

@{
    ViewData["Title"] = "Sacar";
}

<h1>@ViewData["Title"]</h1>

<div id="message" class="alert" style="display:none;"></div>

<form id="sacarForm" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="NumeroConta" class="control-label"></label>
        <input asp-for="NumeroConta" class="form-control" />
        <span asp-validation-for="NumeroConta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Valor" class="control-label"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sacar</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log('function ');
            $("#sacarForm").validate({
                submitHandler: function (form) {
                    $.ajax({
                        type: "POST",
                        url: $(form).attr("action"),
                        data: $(form).serialize(),
                        success: function (response) {
                            console.log('success', success);
                            if (response.success) {
                                // Redireciona em caso de sucesso
                                window.location.href = '@Url.Action("Index", "Home")';
                            } else {
                                // Mostra a mensagem de erro em caso de falha
                                $("#message").removeClass("alert-success").addClass("alert-danger").text(response.error || "Erro desconhecido").show();
                            }
                        },
                        error: function (xhr, status, error) {
                            $("#message").removeClass("alert-success").addClass("alert-danger").text("Erro na comunicação com o servidor. Tente novamente.").show();
                        }
                    });
                }
            });
        });
    </script>
}

